.bar.top-bar {height:130px !important;}
#logo { top:5px !Important;}

.top-bar + nav.active {top:120px !important;}

#menu-toggle span, #menu-toggle span:before, #menu-toggle span:after{ background-color:#2b50c0 !important;}

#menu-toggle.active span{background-color:transparent !important;}

.top-bar + nav ul.social-icons li i:hover { color:#2b50c0 ;}
.top-bar + nav ul.social-icons li:hover i { color:#2b50c0;}

::selection { background:#2b50c0; color:#fff;}

#main-navigation {margin-right:60px;}
#main-navigation li a {color:#656667 !important; padding:7px 15px !important; font-size:15px; font-weight:600;}
#main-navigation li a:hover { background-color:#2b50c0 !important; color:#fff !important; border-radius:5px !important; padding:7px 15px !important;}

#main-navigation li ul li a:hover {color:#2b50c0 !important; background-color:transparent !important;}
.top-bar + nav ul.pull-right li:last-child:hover ul {left:8px !Important;}
.top-bar + nav ul li ul li:hover {border-bottom:3px solid #2b50c0;}

#header-video .page-header small {color:#2b50c0;}

.page-header h1 { color:#2b50c0;}

.header-hr { width:3%; background-color:#656667; height:2px;}
.page-header:hover .header-hr { width:10%; transition:all 0.5s ease-in-out;}

.service:hover{background-color:656667 !important; border:2px solid 2b50c0 !important;}

.service:hover i {color:#2b50c0;}

.service img{width:40%;}

/* Tab Functionality */


/*  bhoechie tab */
div.bhoechie-tab-container{
  z-index: 10;
  background-color: #ffffff;
  padding: 0 !important;
  border-radius: 4px;
  -moz-border-radius: 4px;
  border:1px solid #ddd;
  margin-top: 20px;
  margin-left: 50px;
  -webkit-box-shadow: 0 6px 12px rgba(0,0,0,.175);
  box-shadow: 0 6px 12px rgba(0,0,0,.175);
  -moz-box-shadow: 0 6px 12px rgba(0,0,0,.175);
  background-clip: padding-box;
  opacity: 0.97;
  filter: alpha(opacity=97);
}
div.bhoechie-tab-menu{
  padding-right: 0;
  padding-left: 0;
  padding-bottom: 0;
}
div.bhoechie-tab-menu div.list-group{
  margin-bottom: 0;
}
div.bhoechie-tab-menu div.list-group>a{
  margin-bottom: 0;
}
div.bhoechie-tab-menu div.list-group>a .glyphicon,
div.bhoechie-tab-menu div.list-group>a .fa {
  color: #fff;
}
div.bhoechie-tab-menu div.list-group>a:first-child{
  border-top-right-radius: 0;
  -moz-border-top-right-radius: 0;
}
div.bhoechie-tab-menu div.list-group>a:last-child{
  border-bottom-right-radius: 0;
  -moz-border-bottom-right-radius: 0;
}
div.bhoechie-tab-menu div.list-group>a.active,
div.bhoechie-tab-menu div.list-group>a.active .glyphicon,
div.bhoechie-tab-menu div.list-group>a.active .fa{
  background-color: #2B50C0;
  background-image: #2B50C0;
  color: #ffffff; font-size:14px; font-weight:600;
}

div.bhoechie-tab-menu div.list-group>a { background-color:#2b50c0; background-image:#2b50c0; font-size:14px; font-weight:600;color:#fff;}
div.bhoechie-tab-menu div.list-group>a.active:after{
  content: '';
  position: absolute;
  left: 100%;
  top: 50%;
  margin-top: -13px;
  border-left: 0;
  border-bottom: 13px solid transparent;
  border-top: 13px solid transparent;
  border-left: 10px solid #2b50c0;
}

div.bhoechie-tab-content{
  background-color: #ffffff;
  /* border: 1px solid #eeeeee; */
  padding-left: 20px;
  padding-top: 10px;
}

div.bhoechie-tab div.bhoechie-tab-content:not(.active){
  display: none;
}

/* End Tab */

.service-3 i {color:#2b50c0;}

.page-header small {color:#656667;}

#contactform input[type="submit"] {border:3px solid #2b50c0; color:#2b50c0;}

#contactform input[type="submit"]:hover { background-color:#2b50c0; color:#fff;}


.tabp {
    margin-top: 0;
    color: #5F5F5F;
    font-size: 16px;
    line-height: 1.9;
}
.tabhead {
  margin-top: 0;color:#55518a;margin-bottom: 35px;
}
.tabimg {
      padding: 35px;
}



/***** Coming Soon *****/

.coming-soon {
    margin: 0 auto;
    text-align: center;
    color: #fff;background: url(../style/img/popup-bg.png) !important;
}

.inner-bg {
    padding: 55px 0 60px 0;
    background: url(../style/img/pattern-3.png);
    -moz-box-shadow: 0 1px 5px 0 rgba(0,0,0,.3) inset;
    -webkit-box-shadow: 0 1px 5px 0 rgba(0,0,0,.3) inset;
    box-shadow: 0 1px 5px 0 rgba(0,0,0,.3) inset;
}

.coming-soon h2 {
    font-size: 18px;
    line-height: 35px;
    font-weight: 900;
    text-transform: uppercase;
    text-shadow: 0 1px 7px rgba(0,0,0,.2);
    color: #333;
}

.coming-soon p {
    margin-top: 20px;
    font-size: 14px;
    line-height: 20px;
    text-shadow: 0 1px 7px rgba(0,0,0,.2);color:#000; font-weight:700;
}

.timer {
    
    text-shadow: 0 1px 5px rgba(0,0,0,.1);
}

.timer .days-wrapper,
.timer .hours-wrapper,
.timer .minutes-wrapper,
.timer .seconds-wrapper {
    display: inline-block;
    width: 160px;
    height: 160px;
    margin: 0 10px;
    padding-top: 20px;
    background: #2d2d2d; /* browsers that don't support rgba */
    background: rgba(45, 45, 45, 0.7);
    font-size: 18px;
    line-height: 22px;
    -moz-border-radius: 50%; -webkit-border-radius: 50%; border-radius: 50%;
}

.timer .days-wrapper:hover,
.timer .hours-wrapper:hover,
.timer .minutes-wrapper:hover,
.timer .seconds-wrapper:hover {
    background: #2b50c0 url(../style/img/pattern-2.png);
    text-shadow: none;
}

.timer .days,
.timer .hours,
.timer .minutes,
.timer .seconds {
    font-size: 80px;
    line-height: 90px;
}


/***** Content *****/

.subscribe {
    margin-top: 0px;
    text-align: center;
}

.subscribe h3 {
    font-size: 26px;
    font-weight: 400;
    color: #4d4d4d;
    line-height: 40px;
    text-transform: uppercase;
    text-shadow: 1px 2px 1px #fff;
}

.subscribe p {
    font-size: 15px;
    font-weight: 400;
    line-height: 36px;
}

.subscribe form {
    margin-top: 24px;
}

.subscribe form input.subscribe-email {
    width: 310px;
    height: 46px;
    margin: 0;
    padding: 0 10px;
    background: #fff;
    font-family: 'Lato', sans-serif;
    font-size: 18px;
    line-height: 46px;
    color: #888;
    border: 0;
    -moz-border-radius: 0; -webkit-border-radius: 0; border-radius: 0;
    -moz-box-shadow: 0 1px 3px 0 rgba(0,0,0,.15);
    -webkit-box-shadow: 0 1px 3px 0 rgba(0,0,0,.15);
    box-shadow: 0 1px 3px 0 rgba(0,0,0,.15);
}

.subscribe form input:focus {
    -moz-box-shadow: 0 1px 3px 0 rgba(0,0,0,.15);
    -webkit-box-shadow: 0 1px 3px 0 rgba(0,0,0,.15);
    box-shadow: 0 1px 3px 0 rgba(0,0,0,.15);
}

.subscribe form input:-moz-placeholder { color: #888; }
.subscribe form input:-ms-input-placeholder { color: #888; }
.subscribe form input::-webkit-input-placeholder { color: #888; }

.subscribe form button {
    width: 130px;
    height: 46px;
    margin: 0;
    padding: 0;
    background: #2b50c0;
    border: 0;
    font-family: 'Lato', sans-serif;
    font-size: 18px;
    line-height: 46px;
    color: #fff;
    text-transform: uppercase;
    text-shadow: 1px 1px 1px rgba(0,0,0,.3);
    -moz-border-radius: 0; -webkit-border-radius: 0; border-radius: 0;
    -moz-box-shadow: 0 1px 3px 0 rgba(0,0,0,.25);
    -webkit-box-shadow: 0 1px 3px 0 rgba(0,0,0,.25);
    box-shadow: 0 1px 3px 0 rgba(0,0,0,.25);
    -o-transition: all .3s; -moz-transition: all .3s; -webkit-transition: all .3s; -ms-transition: all .3s; transition: all .3s;
}

.subscribe form button.btn:hover {
    background: #555;
    color: #fff;
}

.subscribe form button.btn:focus, .subscribe form button.btn:active {
	outline: 0;
    background: #555;
    color: #fff;
}

.success-message, .error-message {
	display: none;
	margin-top: 20px;
    font-size: 18px;
    line-height: 22px;
}

.error-message {
    color: #e75967;
}

.social {
    margin-top: 15px;
    padding-bottom: 15px;
    text-align: center;
}

.social a {
    display: inline-block;
    width: 48px;
    height: 48px;
    margin: 3px;
    padding-top: 9px;
    background: #555;
    -moz-border-radius: 50%; -webkit-border-radius: 50%; border-radius: 50%;
    font-size: 28px;
    color: #fff;
    line-height: 28px;
}

.social a:hover, .social a:focus { outline: 0; background: #2b50c0; }


/***** Media Queries *****/

@media (min-width: 768px) and (max-width: 991px) {
	
	.timer .days-wrapper,
    .timer .hours-wrapper,
    .timer .minutes-wrapper,
    .timer .seconds-wrapper { width: 140px; height: 140px; margin: 0 7px; }
    
    .timer .days,
    .timer .hours,
    .timer .minutes,
    .timer .seconds { font-size: 60px; line-height: 70px; }
	
	#popup_box {
    display: none;
    position: fixed;
    height: 500px;
    width: 300px;
    background: #fff;
    left: 35%;
    top: 42%;
    margin-left: -150px;
    margin-top: -150px;
    z-index: 100;
    padding: 15px;
    font-size: 15px;
    -moz-box-shadow: 0 0 5px;
    -webkit-box-shadow: 0 0 5px;
    box-shadow: 0 0 5px;
}
	#clockdiv > div {
    padding: 10px;
    border-radius: 3px;
    background: #2b50c0;
    display: inline-block;
    margin: 10px;
}
}

@media (max-width: 767px) {

    .logo h1 { text-align: center; }
    .call-us { padding-bottom: 7px; text-align: center; }

    .inner-bg { padding: 45px 0 50px 0; }

    .coming-soon h2 { font-size: 36px; }

    .timer .days-wrapper,
    .timer .hours-wrapper,
    .timer .minutes-wrapper,
    .timer .seconds-wrapper { width: 140px; height: 140px; margin: 7px; }

    .timer .days,
    .timer .hours,
    .timer .minutes,
    .timer .seconds { font-size: 60px; line-height: 70px; }

    .subscribe h3 { font-size: 28px; }
    .subscribe form input.subscribe-email, .subscribe form button { width: 100%; }

}

.modal.in {
   display:block !important;
}


.close {font-size:40px !important; margin-top:-20px !important; opacity:0.4 !important;}

.employers{margin:30px 10px;}
.employers  h2 {color:#333; text-transform:uppercase;margin-left:30px;}
.employers p{ text-align:justify; color:#000; font-size:14px; margin-left:30px;}
.employers img { float:right;margin-top:30px;}

.employees {margin:30px 10px;}
.employees  h2 {color:#333; text-transform:uppercase;margin-left:30px;}
.employees p{ text-align:justify; color:#000; font-size:14px; margin-left:30px;}
.employees img { float:left;margin-top:45px; margin-left:30px;}

.cd-form {
  position: relative;
}
 
.cd-form .cd-loading {
  /* loading bar */
  position: absolute;
  bottom: 0;
  left: 0;
  height: 3%;
  width: 100%;
  transform-origin: 0 50%;
  transform: scaleX(0);
  visibility: hidden;
  transition: transform 3s;
}
 
.cd-form.is-submitted .cd-loading {
  visibility: visible;
  transform: scaleX(1);
}
 
.cd-email {
  top: 0;
  left: 0;
  width: 100%;
  bottom: 0;
  transition: bottom 0.3s, background-color 0.3s;
  z-index: 1;
}
 
.is-active .cd-email {
  bottom: 50%;
}
 
.cd-submit {
  top: 50%;
  /* hidden by default */
  display: none;
  transition: background-color 0.2s;
  z-index: 2;
}
 
.is-active .cd-submit {
  display: block;
  animation: cd-bounce-in ease-out 0.4s;
}
 
@keyframes cd-bounce-in {
  0% {
    top: 100%;
  }
 
  60% {
    top: 45%;
  }
 
  100% {
    top: 50%;
  }
}


.style {
   width: 100%;
   font-family: sans-serif;
   font-weight: bold;
   border-style: solid;
}

.colorDefinition {
    background: #000000;
    color : #FFFFFF;
    border-color: #F0068E;
}

.size_xl {
   font-size:50px;
   border-width: 8px;
   border-radius: 6px;
}

.size_lg {
   font-size:40px;
   border-width: 7px;
   border-radius: 5px;
}

.size_md {
   font-size:30px;
   border-width: 5px;
   border-radius: 4px;
}

.size_sm {
   font-size:20px;
   border-width: 3px;
   border-radius: 3px;
}

.size_xs {
   font-size:15px;
   border-width: 2px;
   border-radius: 2px;
}
.joblist {
	float:left !important;
}
a {  
    cursor: pointer;  
    text-decoration:none;  
}

/*------------Container styles --------------*/

#container {
    width:100%;
    height:100%;
}

/*------------Popup styles --------------*/

#popup_box {
    display: none;
    position: fixed;
    height: 525px;
    width: 685px;
    background: #fff;
    left: 35%;
    top: 42%;
    margin-left: -150px;
    margin-top: -150px;
    z-index: 100;
    padding: 15px;
    font-size: 15px;
    -moz-box-shadow: 0 0 5px;
    -webkit-box-shadow: 0 0 5px;
    box-shadow: 0 0 5px;
}
#popupBoxClose { 
    background: #369;
    color: #fff;
    padding: 10px;
    margin: -15px -15px 10px -15px;
    display: block;
    position: relative;
    text-align: right;
}
#popupBoxClose #countDown {
    position: absolute;
    top: 10px;
    left: 10px;
    width: 20px;
    height: 20px;
    background: #fff;
    color: #369;
    text-align: center;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    font-size: 14px;
    font-weight: bold;
}
#clockdiv{
    font-family: sans-serif;
    color: #fff;
    display: inline-block;
    font-weight: 100;
    text-align: center;
    font-size: 30px;
}

#clockdiv > div{
    padding: 10px;
    border-radius: 3px;
    background: #2b50c0;
    display: inline-block;
}

#clockdiv div > span{
    padding: 15px;
    border-radius: 3px;
    background: #88a4f9;
    display: inline-block;
}

.smalltext{
    padding-top: 5px;
    font-size: 16px;
}
